<h2>Local Provider</h2>

<p>
  <a href="<%= localAuthorizationCodeFlowHref%>">
    Login with OpenID Connect Provider using Authorisation Code flow
  </a>
</p>

<p>
  <a
    href="">
    Login with OpenID Connect Provider using Implicit flow
  </a>
</p>

<h2>Google</h2>

<p>
  <a href="<%= googleAuthorizationCodeFlowHref%>">
    Login with OpenID Connect Provider using Authorisation Code flow
  </a>
</p>

<p>
  <a
    href="<%= googleImplicitFlowHref %>">
    Login with OpenID Connect Provider using Implicit flow
  </a>
</p>
